{{ 'sliding-nav-tabs.css' | asset_url | stylesheet_tag }}
<nav class="sliding-nav-container" id="sliding-nav">
  <div class="nav-tabs-wrapper">
    <div class="nav-tabs-scroll">
      <a href="/collections/cthulhu-wars" class="nav-tab glass-tab">Cthulhu Wars</a>
      <a href="/collections/planet-apocalypse" class="nav-tab glass-tab">Planet Apocalypse</a>
      <a href="/collections/hyperspace" class="nav-tab glass-tab">Hyperspace</a>
      <a href="/collections/evil-high-priest" class="nav-tab glass-tab">Evil High Priest</a>
      <a href="/collections/orcs-must-die" class="nav-tab glass-tab">Orcs Must Die</a>
      <a href="/collections/expansions" class="nav-tab glass-tab">Expansions</a>
      <a href="/collections/miniatures" class="nav-tab glass-tab">Miniatures</a>
      <a href="/collections/new-releases" class="nav-tab glass-tab">New</a>
    </div>
  </div>
</nav>



<script>
// Remove toggleSearch function as it conflicts with glass-top-header's search modal
</script>
